.main{
    margin-top: 50px;
}
.ul{
    list-style-type: none;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.buttonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonsContainer button{
    background-color: #4CAF4F;
    border: #449e47 solid 1px;
    border-radius: 8px;
    padding: 0.5rem;
    width: 10rem;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}


.buttonsContainer button:hover{
    background-color: #45a049;
}

.buttonsContainer button:active{
    background-color: #1d7e22;
}
.filter{
    padding: 10px 0px;
}

.dropdown {
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
}

.dropdown button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}
.dropdown button:hover {
    background-color: #f1f1f1;
}

.DeleteCheck{
    position: fixed;
    top: 34vh;
    right: 35vw;
    max-width: 30vw;
    background-color: #ECD4D4;
    box-shadow: 0 0 5px #AF4C4C;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #e7a2a2;
    display: flex;
    flex-direction: column;
}

.DeleteCheckDisabled{
    display: none;
}

.DeleteCheck h5{
    font-size: 1.3rem;
    line-height: 2.2rem;
    font-weight: 700;
    color: #AF4C4C;
    margin-bottom: 10px;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
}

.yesBtn{
    background-color: #AF4C4C;
    color: #F6F6F6;
    border-radius: 4px;
    font-size: medium;
    border: 0px;
    width: 150px;
    height: 50px;
    max-width: 150px;
    max-height: 50px;
}

.noBtn{
    background-color: #F6F6F6;
    border-color: #AF4C4C;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    color: #AF4C4C;
    width: 150px;
    height: 50px;
    max-width: 150px;
    max-height: 50px;
}

.yesBtn:hover{
    background-color: #822f2f;
    color: #F6F6F6;
    border-radius: 4px;
    font-size: medium;
    border: 0px;
}

.noBtn:hover{
    background-color: #AF4C4C;
    border-color: #AF4C4C;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    color: #F6F6F6;
}

.SignedInBtns{
    display: flex;
    flex-grow: 5;
    justify-content: end;
    align-items: center;
}