.main{
    margin-top: 50px;
}
.ul{
    list-style-type: none;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.buttonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonsContainer button{
    background-color: #4CAF4F;
    border: #449e47 solid 1px;
    border-radius: 8px;
    padding: 0.5rem;
    width: 8rem;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}


.buttonsContainer button:hover{
    background-color: #45a049;
}

.buttonsContainer button:active{
    background-color: #1d7e22;
}
.filter{
    padding: 10px 0px;
}

.dropdown {
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
}

.dropdown button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}
.dropdown button:hover {
    background-color: #f1f1f1;
}