.task-form {
    padding: 2.2rem 2.2rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
}

.Header {
    color: #263238;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #263238; /* Green color for the labels */
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.submit-button {
    background-color: #4CAF4F; /* Green background for submit */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #1d611f; /* Darker green on hover */
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: green;
    outline: none;
}

.form-group input[type="date"] {
    border: 1px solid green; /* Green border for date input */
}

.submit-button[type="submit"]:disabled {
    background-color: #ccc; /* Disabled state */
    cursor: not-allowed;
}

.error-message {
    color: red; /* Red color for error messages */
    font-weight: bold;
}

.Deadline{
    margin-bottom: 15px;
    margin-right: 1rem;
}

.Deadline label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #263238; /* Green color for the labels */
}

.Deadline input,
.Deadline textarea,
.Deadline select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.Deadline_Priority{
    display: flex;
    justify-content: space-evenly;
}

.Deadline_Priority *{
    width: 100%;
    /* padding-right:0.5rem; */
}

.Btns{
    display: flex;
    justify-content: space-between;
}

.Btns *{
    margin: 1rem;
}

.cancel-button{
    background-color: #C63030; /* Green background for submit */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-button:hover{
    background-color: #7a1111;
}