.registerPageContainer {
    display: flex;
    height: 100vh;
}

.sideBar {
    background-color: #4CAF4F;
    width: 30%;
}

.Container {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.registerForm {
    padding: 80px 50px;
    box-shadow: 0px 0px 20px #C1C1C1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.formHeader {
    color: #4CAF4F;
    margin-bottom: 20px;
    margin-top: 0px;
    align-self: flex-start;
    font-size: 2.8rem;
    font-weight: 600;
}

.inputAccepted {
    margin-bottom: 22px;
    border: #C1C1C1 solid 1px;
    border-radius: 3px;
    padding: 5px;
}

.inputNotAccepted {
    margin-bottom: 21px;
    border: #ff0000 solid 2px;
    border-radius: 3px;
    padding: 5px;
}

.label {
    color: black;
    align-self: flex-start;
    margin-bottom: 5px;
}

.messageEnabled{
    color: red;
    height: 0px;
    position: relative;
    top: -20px;
    font-size: 0.8rem;
}

.messageDisabled{ 
    color: red;
    display: none;
}

/* Password and Confirm Password */
.passParentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.passParentContainer .inputAccepted , .passParentContainer .inputNotAccepted {
    width: 220px;
}

.passParentContainer .messageEnabled{
    width: 240px;
    line-height: 11px;
    position: relative;
    top: -17px;
}

.passwordContainer {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.confirmPassContainer {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.confirmPassContainer .inputAccepted , .confirmPassContainer .inputNotAccepted {
    align-self: flex-end;
}

.confirmPassContainer .label, .confirmPassContainer .messageEnabled{
    margin-left: 20px;
}

/* Button */
.registerButton {
    align-self: flex-start;
    background-color: #4CAF4F;
    color: white;
    border: #4CAF4F solid 1px;
    border-radius: 3px;
    padding: 6px;
    width: 160px;
    margin-top: 12px;
    font-weight: bold;
}

.registerButton:hover {
    background-color: #429845;
    border-color: #3a863d;
}

.registerButton:focus{
    background-color: #429845;
    border-color: #3a863d;
    box-shadow: 0 0 0 0.25rem rgba(76, 175, 80, 0.5);
}

.registerButton:disabled{
    color: #fff;
    background-color: #4CAF4F;
    border-color: #4CAF4F;
}

.navToSignIn {
    color: #4CAF4F;
    margin-top: 10px;
    font-size: 15px;
}